BODY > DIV.CodeMirror {
    max-width: 400px;
    border: 2px dashed gray;
    height: 250px;
}

#userRender {
    border: 2px dashed lightcoral;
    
    padding: 10px;
    height: 200px;
    margin: 3%;
}

#userRender div{
    background-color:black;
}

#goal{
    margin:3%;
}