#userCode {
    max-width: 400px;
    border: 1px dashed gray;
    height: 250px;
    padding: 10px;
}

#userRender {
    border: 2px dashed lightcoral;
    
    padding: 10px;
    max-width: 380px;
    height: 200px;
}

#userRender div{
    background-color:black;
}